/**
 ------------------------------------------------------------------------------------------------------------------------------------------------------------------
 *  #1. base style overrides
 *  #2. typography
 *  #3. buttons 
 *  #4. skillbars
 *  #5. common styles
 *  #6. header styles
 *  #7. intro
 *  #8. about
 *  #9. resume
 *  #10. contact
 ------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */


/** 
*==========
 * #1. base styles
 */
 html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-weight: normal;
	line-height: 1;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
}

body,
input,
button {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.row {
	width: 94%;
	max-width: 1140px;
	margin: 0 auto;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.row .row {
	width: auto;
	max-width: none;
	margin-left: -20px;
	margin-right: -20px;
}

[class*="col-"],
.bgrid {
	float: left;
}

[class*="col-"] + [class*="col-"].end {
	float: right;
}

[class*="col-"] {
	padding: 0 20px;
}

.col-one {
	width: 8.33333%;
}

.col-two,
.col-1-6 {
	width: 16.66667%;
}

.col-three,
.col-1-4 {
	width: 25%;
}

.col-four,
.col-1-3 {
	width: 33.33333%;
}

.col-five {
	width: 41.66667%;
}

.col-six,
.col-1-2 {
	width: 50%;
}

.col-seven {
	width: 58.33333%;
}

.col-eight,
.col-2-3 {
	width: 66.66667%;
}

.col-nine,
.col-3-4 {
	width: 75%;
}

.col-ten,
.col-5-6 {
	width: 83.33333%;
}

.col-eleven {
	width: 91.66667%;
}

.col-twelve,
.col-full {
	width: 100%;
}
		/* width */
		::-webkit-scrollbar {
			width: 18px;
		  }
		  
		  /* Track */
		  ::-webkit-scrollbar-track {
			box-shadow: inset 0 0 5px grey; 
			border-radius: 10px;
		  }
		   
		  /* Handle */
		  ::-webkit-scrollbar-thumb {
			background: rgb(255, 0, 0); 
			border-radius: 10px;
		  }
		  
		  /* Handle on hover */
		  ::-webkit-scrollbar-thumb:hover {
			background: #f14040; 
		  }

html {
	font-size: 10px;
	font-family :'Times New Roman',serif;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9px;
	}
}

html, body {
	height: 100%;
	
}
body {
	background: #151515;
	font-family: 'Times New Roman',serif;
	font-size: 1.7rem;
	line-height: 3rem;
	color: #000000;
}

a, a:visited {
	color: #000000;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:hover, a:focus, a:active {
	color: #00b7ff;
	outline: 0;
}
img {
	max-width: 100%;
	height: auto;
}

/** 
 * ==========
 * #2. typography
 */

h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
	font-family:'Times New Roman', serif;
	color: #313131;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 2rem;
}


/** 
 * ========
 * #3. buttons
 */

.btn,
a.btn,
input[type="button"] {
	display: inline-block;
	font-family:'Times New Roman', serif;
	font-size: 2rem;
	letter-spacing: .1rem;
	height: 6rem;
	line-height: 5.4rem;
	padding: 0 4rem;
	margin: 0 .2rem 1.2rem 0;
	background: #ffffff;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border-radius: 10px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
button, .button {
	margin-bottom: 1.2;
}
fieldset {
	margin-bottom: 1.5rem;
}
  .btn:hover {
	transition: 1s ease-in-out;
	background-color: #ff0000;
	
  }

.glow-on-hover {
	padding-top: 10px;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #ffffff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #646b77;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
a.glow-on-hover	 {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;    
}


/**
 * 4. skillbars
 */

 .details{
	font-family: 'Courier New', serif;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-size: 1.8rem;
    width: 100%;
    display: flex;  
    justify-content: space-between;
	padding-top: 2px;
    margin-bottom: 8px;
}
.bar{
    position: relative;
    border: 1px solid #000000;
    border-radius: 20px;

}
.bar div{
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 8px;
}

.skills:not(:last-child){
    margin-bottom: 13px;
}
#figma-bar{
    animation: figma-fill 3s forwards;
	background-color: #2659ff;
}
@keyframes figma-fill{
    100%{
        width: 95%;
    }
}
#webflow-bar{
    animation: webflow-fill 3s forwards;
	background-color: #33adff;
}
@keyframes webflow-fill{
    100%{
        width: 85%;
    }
}
#sixsigma-bar{
    animation: sixsigma-fill 3s forwards;
	background-color: red;
}
@keyframes sixsigma-fill {
    100%{
        width: 80%;
    }
}
#html-bar{
    animation: html-fill 3s forwards;
	background-color: orange;
}
@keyframes html-fill{
    100%{
        width: 87%;
    }
} 
#css-bar{
    animation: css-fill 3s forwards;
	background-color: yellow;
}
@keyframes css-fill{
    100%{
        width: 78%;
    }
} 


/** 
 * ==============
 * #5. common styles
 */

.grey-section {
	background: #ebebeb;
}
.grey-section p.lead {
	color: #7d7d7d;
}
.section-intro {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 3.6rem;
	position: relative;
}
.section-intro h1 {
	font-family: 'Times New Roman', serif;
	font-size: 3.6rem;
	color: orange;
	line-height: 1.25;
	margin-bottom: 1.2rem;
}
.section-intro h5 {
	color: orange;
	font-size: 1.6rem;
	line-height: 1.875;
	margin-bottom: 0.3rem;
	letter-spacing: .1rem;
}


/** 
 * ============
 * #6. header styles
 */
header {
	position: fixed;
	width: 100%;
	min-height: 66px;
	z-index: 600;
}
header .row {
	position: relative;
	min-height: 66px;
}


/** 
 * =======
 * #7. intro
 */

#intro {
	background: #151515 url(../images/intro-bg.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	min-height: 720px;
	display: table;
	position: relative;
	text-align: center;
}
.intro-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111111;
	opacity: .85;
}

.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateY(-2.1rem);
	-ms-transform: translateY(-2.1rem);
	transform: translateY(-2.1rem);
}
.intro-content h1 {
	color: #FFFFFF;
	font-family: 'Times New Roman', serif;
	font-size: 8.4rem;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h5 {
	color: orange;
	font-family :'Segoe UI', sans-serif;
	font-size: 2.3rem;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position {
	font-family: 'Times New Roman', serif;
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span {
	display: inline-block;
}
.intro-content .intro-position span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .button {
	color: #FFFFFF !important;
	border-color: rgba(255, 255, 255, 0.3);
	height: 6rem !important;
	line-height: 5.4rem !important;
	padding: 0 3.5rem 0 3rem !important;
	margin-top: .6rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
}
.intro-content .button:hover, .intro-content .button:focus {
	border-color: #cc005f;
}
.intro-content .button::after {
	display: inline-block;
	content: "\f107";
	font-family: fontAwesome;
	font-size: 1.8rem;
	line-height: inherit;
	text-align: center;
	position: relative;
	left: 1.2rem;
}

.intro-social {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 7.2rem;
	font-size: 3.3rem;
	margin: 0;
	padding: 0;
}
.intro-social li {
	display: inline-block;
	margin: 0 20px;
	padding: 0;
}
.intro-social li a, .intro-social li a:visited {
	color: #FFFFFF;
}
.intro-social li a:hover, .intro-social li a:focus {
	color: #3967ff;
}


/** 
 * ========
 * #8. about
 */

#about {
	padding-top: 12rem;
	padding-bottom: 15rem;
	background-image: linear-gradient(to right, white, lightgreen);
}
#about .section-intro {
	margin-bottom: 3rem;
}

.intro-info {
	margin-top: 4.2rem;
	margin-right: -30px;
	margin-left: -30px;
}
.intro-info img {
	height: 45rem;
	width: 30rem;
	border-radius: 60%;
	margin: .1rem 0 0 0;
	float: left;
}
.intro-info .lead {
	max-width: 900px;
	text-align:left;
	padding-top: 12rem;
	padding-left: 40rem;
}

.about-content {
	position: relative;
	text-align: left;
	max-width: 1000px;
	margin-bottom: 3.6rem;
}
.about-content h3 {
	font-family:'Segoe UI', sans-serif;
	font-size: 2rem;
	text-align: left;
	text-transform: uppercase;
	color: orangered;
	letter-spacing: .15rem;
}
.about-content .info-list {
	text-align: left;
	list-style: none;
	margin-left: 0;
}
.about-content .info-list li {
	text-align: left;
	padding: 0 0 1.5rem 0;
	margin-bottom: .6rem;
}
.about-content .info-list li strong {
	text-align: left;
	font-family: 'Courier New', serif;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-size: 1.8rem;
	line-height: 3rem;
}
.about-content .info-list li span {
	text-align: left;
	display: block;
	font-family: 'Times New Roman', Times, serif;
	color: orangered;
	font-size: 1.6rem;
	line-height: 1;
}
.button-section {
	text-align: center;
}
.button-section .button {
	width: 250px;
}
.button-section [class*="col-"] .button:first-child {
	margin-right: 4rem;
}

/** 
 * ========
 * #9. resume
 */

#resume {
	padding-top: 12rem;
	padding-bottom: 12rem;
	background-image: linear-gradient(to right,lightgreen , white);
}

#resume .resume-header {
	text-align: center;
}
#resume .resume-header h1 {
	color: orange;
}

#resume .resume-timeline {
	max-width: 980px;
}
#resume .timeline-wrap {
	position: relative;
	margin-top: 1.5rem;
	margin-bottom: 6rem;
}
#resume .timeline-wrap::before {
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 35%;
	top: 0;
}
#resume .timeline-block {
	position: relative;
	padding-top: 1.5rem;
}
#resume .timeline-ico {
	height: 4.8rem;
	width: 4.8rem;
	line-height: 4.8rem;
	background: blueviolet;
	border-radius: 50%;
	text-align: center;
	color: blueviolet;
	position: absolute;
	left: 35%;
	top: .9rem;
	margin-left: -2.4rem;
}
#resume .timeline-ico i {	
	position: relative;
	left: .05rem;
	top: .2rem;
}

#resume .timeline-header {
	float: left;
	width: 35%;
	padding-right: 90px;
	text-align: right;
}
#resume .timeline-header h3 {
	margin-bottom: 0;
}
#resume .timeline-header p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.8rem;
	color: orangered;
}
#resume .timeline-content {
    font-family:'Arial Narrow Bold', sans-serif;
	font-size: 1.7rem;
	margin-left: 35%;
	padding-left: 60px;
}
#resume .timeline-content h4 {
	font-size: 1.9rem;
	position: relative;
	padding-bottom: 1.8rem;
}
#resume .timeline-content h4::after {
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	background: #241f1f33;
	position: absolute;
	left: 0;
	bottom: 0;
}
.cert{
	text-decoration: none;
}

/** 
 * ====================
 * #10. contact - (_layout.scss)
 */

 #contact {
	background: #000000 url(../images/con-bg.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 50%;
	min-height: 100px;
	display: table;
	position: relative;
	text-align: center;
}
.contact-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0004f085;
	opacity: .50;
}
#contact .section-intro h1 {
	color: whitesmoke;
}
#contact .section-intro h5 {
	font-size: 2.0rem;
	font-family: 'Times New Roman', Times, serif;
	color: orange;
}
#contact .section-intro p {
	font-size: 1.5rem;
	font-family:'Arial Narrow Bold', sans-serif;
	color: whitesmoke ;
}
.contact-info {
	margin: 5rem auto 0;
	font-size: 1.8rem;
	text-align: center;
}
.contact-info .collapse {
	padding: 0;
}
.contact-info .icon {
	margin-bottom: 2.1rem;
}
.contact-info .icon i {
	font-size: 4.2rem;
	color: #FFFFFF;
}
.contact-info h5 {
	color: #FF0077;
}

.bounce {
	display: inline-block;
	position: relative;
	-moz-animation: bounce 0.5s infinite linear;
	-o-animation: bounce 0.5s infinite linear;
	-webkit-animation: bounce 0.5s infinite linear;
	animation: bounce 0.5s infinite linear;
	color: #000;
  }
  .fa-phone,
  .fa-envelope,
  .fa-map-pin
  {
	  color: #ffffff;
	font-size: 30px;
	margin: 20px;
  }
  @-webkit-keyframes bounce {
	  0% { top: 0; }
	  50% { top: -0.2em; }
	  70% { top: -0.3em; }
	  100% { top: 0; }
  }
  @-moz-keyframes bounce {
	  0% { top: 0; }
	  50% { top: -0.2em; }
	  70% { top: -0.3em; }
	  100% { top: 0; }
  }
  @-o-keyframes bounce {
	  0% { top: 0; }
	  50% { top: -0.2em; }
	  70% { top: -0.3em; }
	  100% { top: 0; }
  }
  @-ms-keyframes bounce {
	  0% { top: 0; }
	  50% { top: -0.2em; }
	  70% { top: -0.3em; }
	  100% { top: 0; }
  }
  @keyframes bounce {
	  0% { top: 0; }
	  50% { top: -0.2em; }
	  70% { top: -0.3em; }
	  100% { top: 0; }
  }